*{
    font-family: 'Titillium Web', sans-serif;
}
#container {
    background-color: white;
    border: 2px solid;
    border-radius: .3rem;
    width: 60%;
    padding: 3rem 1rem;
    margin: 4rem auto;
    box-shadow: .4rem .4rem .4rem rgb(66, 66, 66);
}

.login-box {
    margin: auto 5rem;
}

.form-box {
    display: flex;
    flex-direction: column;
}

.input-box {
    padding: .3rem 1.5rem;
    margin: .7rem 3rem .7rem 0;
}

.btn-login {
    text-align: left;
    padding: .4rem 2rem;
    cursor: pointer;
    margin: .3rem auto;
    background-color: rgb(69, 130, 243);
    border: none;
    /* border-radius: .3rem; */
    color: white;

}

.btn-login:hover {
    background-color: rgb(248, 67, 67);
    padding: .4rem 2.5rem;
    transition: all 500ms ease-out 0s;
}

#signup {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

#signup:hover {
    color: rgb(248, 67, 67);
}



@media only screen and (max-width: 820px) {
    .login-box {
        margin: auto 1rem;
    }
}

@media only screen and (max-width: 560px) {
    .login-box {
        font-size: 80%;
    }
}

@media only screen and (max-width: 440px) {
    .login-box {
        font-size: 55%;
        width: 105%;
    }
}